#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_GULFCOINGOLDd += debian/examples/*
DEB_INSTALL_MANPAGES_GULFCOINGOLDd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix GULFCOINGOLDd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f GULFCOINGOLD-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake GULFCOINGOLD-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/GULFCOINGOLDd:
	chmod +x $(cdbs_curdestdir)usr/bin/GULFCOINGOLDd
binary-post-install/GULFCOINGOLD-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/GULFCOINGOLD-qt
